.form-tag {
	margin-top:100px;
	margin-bottom:3vh;
    padding:25px 8px 25px 8px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

.headerText {
	text-align:center;
}

.deleteForm {
	margin-bottom:10vh;
}