.buttonWrapper {
	margin-top:20px;
	margin-bottom:20px;
}

.headerText {
	text-align:center;
	margin-bottom: 10px;
}

.row .form-tag {
    margin-bottom:10vh;
    padding:25px 8px 25px 8px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

.purchaseHeader {
	font-size:25px;
	margin:2vh 0;
}

a:link {
  text-decoration: none;
}
