<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JADCA2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>servlets.userLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userDetails</servlet-name>
    <servlet-class>servlets.userDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDetails</servlet-name>
    <url-pattern>/userDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartDetails</servlet-name>
    <servlet-class>servlets.cartDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartDetails</servlet-name>
    <url-pattern>/cartDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>currencyConversion</servlet-name>
    <servlet-class>servlets.currencyConversionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>currencyConversion</servlet-name>
    <url-pattern>/currencyConversion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>purchaseHistory</servlet-name>
    <servlet-class>servlets.purchaseHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>purchaseHistory</servlet-name>
    <url-pattern>/purchaseHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminPurchases</servlet-name>
    <servlet-class>servlets.purchaseOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminPurchases</servlet-name>
    <url-pattern>/purchaseOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminProducts</servlet-name>
    <servlet-class>servlets.getProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminProducts</servlet-name>
    <url-pattern>/getAllProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rootCustomerView</servlet-name>
    <servlet-class>servlets.getAllCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rootCustomerView</servlet-name>
    <url-pattern>/getAllCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTopPurchases</servlet-name>
    <servlet-class>servlets.getTopWeekilyPurchases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTopPurchases</servlet-name>
    <url-pattern>/topPurchases</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testUpload</servlet-name>
    <servlet-class>servlets.testFileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testUpload</servlet-name>
    <url-pattern>/testUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createProduct</servlet-name>
    <servlet-class>servlets.createProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>servlets.editProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createCategory</servlet-name>
    <servlet-class>servlets.createCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCategory</servlet-name>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchAllCategory</servlet-name>
    <servlet-class>servlets.getAllCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchAllCategory</servlet-name>
    <url-pattern>/getAllCategories</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateCategory</servlet-name>
    <servlet-class>servlets.editCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCategory</servlet-name>
    <url-pattern>/editCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCategory</servlet-name>
    <servlet-class>servlets.deleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCategory</servlet-name>
    <url-pattern>/deleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchTopSpenders</servlet-name>
    <servlet-class>servlets.getTopUserPurchasesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchTopSpenders</servlet-name>
    <url-pattern>/getTopSpenders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getDeliverOrders</servlet-name>
    <servlet-class>servlets.getDeliveryOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDeliverOrders</servlet-name>
    <url-pattern>/getOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserDetailsById</servlet-name>
    <servlet-class>servlets.getUserBySessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserDetailsById</servlet-name>
    <url-pattern>/getUserBySessionId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUserById</servlet-name>
    <servlet-class>servlets.editUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserById</servlet-name>
    <url-pattern>/editUserDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getTopLowSelling</servlet-name>
    <servlet-class>servlets.getTopLowSellingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTopLowSelling</servlet-name>
    <url-pattern>/getTopSelling</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createNewUser</servlet-name>
    <servlet-class>servlets.createNewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createNewUser</servlet-name>
    <url-pattern>/userSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createNewAdmin</servlet-name>
    <servlet-class>servlets.createNewAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createNewAdmin</servlet-name>
    <url-pattern>/createAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>servlets.addToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addingToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loggingOut</servlet-name>
    <servlet-class>servlets.signOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loggingOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCartItem</servlet-name>
    <servlet-class>servlets.deleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCartItem</servlet-name>
    <url-pattern>/deleteCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateInDelivery</servlet-name>
    <servlet-class>servlets.updateInDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateInDelivery</servlet-name>
    <url-pattern>/shippedOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateDelivered</servlet-name>
    <servlet-class>servlets.updateDeliveredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDelivered</servlet-name>
    <url-pattern>/deliveredOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllProductStoredProd</servlet-name>
    <servlet-class>servlets.getAllProductWithStoreProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllProductStoredProd</servlet-name>
    <url-pattern>/getAllProductNormal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkoutProcess</servlet-name>
    <servlet-class>servlets.updateCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutProcess</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletingAccount</servlet-name>
    <servlet-class>servlets.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletingAccount</servlet-name>
    <url-pattern>/userDeletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletingProduct</servlet-name>
    <servlet-class>servlets.deleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletingProduct</servlet-name>
    <url-pattern>/productDeletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUserByRoot</servlet-name>
    <servlet-class>servlets.updateUserByRootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserByRoot</servlet-name>
    <url-pattern>/updateUserWithPerms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAdminById</servlet-name>
    <servlet-class>servlets.getAdminById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAdminById</servlet-name>
    <url-pattern>/getAdminWithId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProductById</servlet-name>
    <servlet-class>servlets.getProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductById</servlet-name>
    <url-pattern>/getProductWithId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getCategoryById</servlet-name>
    <servlet-class>servlets.getCategoryByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCategoryById</servlet-name>
    <url-pattern>/getCategoryWithId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProductInACategory</servlet-name>
    <servlet-class>servlets.getAllProductInCatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductInACategory</servlet-name>
    <url-pattern>/getProductInCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProductBySearch</servlet-name>
    <servlet-class>servlets.getAllProductBySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductBySearch</servlet-name>
    <url-pattern>/getProductSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllAdmins</servlet-name>
    <servlet-class>servlets.getAllAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllAdmins</servlet-name>
    <url-pattern>/getAdmins</url-pattern>
  </servlet-mapping>
</web-app>