<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>JADCA2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginUser</servlet-name>
		<servlet-class>servlets.userLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUser</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userDetails</servlet-name>
		<servlet-class>servlets.userDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userDetails</servlet-name>
		<url-pattern>/userDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cartDetails</servlet-name>
		<servlet-class>servlets.cartDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartDetails</servlet-name>
		<url-pattern>/cartDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>currencyConversion</servlet-name>
		<servlet-class>servlets.currencyConversionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>currencyConversion</servlet-name>
		<url-pattern>/currencyConversion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>purchaseHistory</servlet-name>
		<servlet-class>servlets.purchaseHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>purchaseHistory</servlet-name>
		<url-pattern>/purchaseHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminPurchases</servlet-name>
		<servlet-class>servlets.purchaseOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminPurchases</servlet-name>
		<url-pattern>/purchaseOrders</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminProducts</servlet-name>
		<servlet-class>servlets.getProductsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminProducts</servlet-name>
		<url-pattern>/getAllProducts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rootCustomerView</servlet-name>
		<servlet-class>servlets.getAllCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rootCustomerView</servlet-name>
		<url-pattern>/getAllCustomer</url-pattern>
	</servlet-mapping>
</web-app>